.root {
  position: relative;
  display: flex;

  background-color: var(--light-gray-color);
  overflow: hidden;
  border-radius: var(--border-radius);

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid transparent;
    background-color: var(--light-gray-color);
    background-image: none;
    flex: 1;
    padding: 0 0.5em;
    color: var(--black-color);
    cursor: pointer;

    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0%;

    padding-inline: 16px;
    padding-block: 18px;
    border-radius: var(--border-radius);

    &:focus {
      border: 1px solid var(--border-color);
    }
  }
}

.icon {
  height: 100%;
  position: absolute;
  right: 0;
  padding-inline: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
