.root {
  display: flex;
  align-items: flex-start;
  gap: 76px;
  justify-content: space-between;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    gap: 16px;
  }
}

.label {
  min-width: 152px;
  padding-top: 16px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 0%;
  color: var(--black-color);

  @media only screen and (max-width: 768px) {
    min-width: fit-content;
    padding-top: 0;
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  width: 100%;

  @media only screen and (max-width: 768px) {
    gap: 8px;
  }
}

.description,
.error {
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  line-height: 18.2px;
  letter-spacing: 0%;
}

.description {
  color: var(--gray-color);
}

.error {
  color: var(--error);
}

.bottomAddon {
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  line-height: 18.2px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: Auto;
  text-decoration-thickness: Auto;
  color: var(--gray-color);
}
